.product {
  width: 300px;
  height: 370px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  &:hover {
    box-shadow: 0px 0px 15px 1px $shadow;
  }

  .product-img {
    height: inherit;
    display: flex;
    align-items: center;

    img {
      max-width: 250px;
      max-height: 250px;
      margin: 0 auto;
    }
  }

  .product-container {
    display: flex;
    align-items: center;

    .product-text {
      width: 180px;
      text-align: left;

      .product-name {
        margin: 15px 0;
      }
    }
  }
}