.product {
  width: 300px;
  padding: 20px;
  text-align: center;

  &:hover {
    box-shadow: 0px 0px 15px 1px $shadow;
  }

  img {
    max-width: 250px;
    max-height: 250px;
  }

  .product-text {
    text-align: left;

    .product-name {
      margin: 15px 0;
    }
  }
}