.shipping-cost-info {
  text-align: left;

  h2 {
    margin-top: 5px;
    font-size: 21px;
  }

  table {
    width: 100%;

    tr {
      display: flex;
      justify-content: space-between;
    }
  };
}
