* {
  box-sizing: border-box;
}

@page {
  margin: 10px auto;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 40px;
  background-color: white;
  color: $text-primary;
  font-size: 16px;
  font-family: 'Muli-Regular', sans-serif;
}

p {
  margin: 5px;
}

input,
textarea,
button,
select {
  outline: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

a,
h1,
h2,
h3,
button {
  font-family: 'Muli-Black', sans-serif;
}
