* {
  box-sizing: border-box;
}

@page {
  margin: 10px auto;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: white;
  color: $text-primary;
  font-size: 16px;
  font-family: 'Muli-Regular', sans-serif;
}

p {
  margin: 5px;
}

input,
textarea,
button,
select {
  outline: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

a {
  color: $text-primary;
  text-decoration: none;

  &:visited {
    color: $text-primary;
  }
}

a,
button {
  transition-duration: 0.3s;
}

a,
h1,
h2,
h3,
button {
  font-family: 'Muli-Black', sans-serif;
}

.main-container {
  position: relative;
}

.shadow::before {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #3a3a3a8c;
  content: '';
  position: fixed;
  z-index: 1;
}
