@mixin btn($text, $bg, $hover) {
  display: inline-block;
  transition-duration: 0.3s;
  color: $text;
  background-color: $bg;
  border: none;
  font-size: 16px;
  padding: 8px 14px;

  &:hover {
    background-color: $hover;
  }

  &:visited {
    color: $text;
  }
}
