$text-primary: #1b1b1b;
$text-secondary: #ffffff;
$light-primary: #d6f9ff;
$light-secondary: #5c8fc9;
$dark-primary: #205c8a;
$dark-secondary:#143249;
$color-pirmary: #ececec;
$color-secondary: #1a48c7;
$shadow: #8c8c8c;