* {
  box-sizing: border-box;
}

@page {
  margin: 10px auto;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 40px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: 'Muli-black', sans-serif;
}

input,
textarea,
button,
select {
  outline: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}
