@font-face {
  font-family: 'Muli-Black';
  src: url('../../static/fonts/Muli-black.ttf');
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('../../static/fonts/Muli-Regular.ttf');
}

@import 'variables';
@import 'general';
@import 'mixins';

// atoms
@import 'atoms/buttons.scss';

// molecules
@import 'molecules/shippingCostInfo';
@import 'molecules/logo';

// components
@import 'components/menu';
@import 'components/footer';
@import 'components/objectsList';
@import 'components/main-header';

// pages
@import 'pages/chairs';
@import 'pages/chair';