@font-face {
  font-family: 'Muli-Black';
  src: url('../../static/fonts/Muli-black.ttf');
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('../../static/fonts/Muli-Regular.ttf');
}

@import 'variables';
@import 'general';
@import 'mixins';

// atoms
@import 'atoms/buttons.scss';
@import 'atoms/shopping-cart-icon.scss';

// molecules
@import 'molecules/shipping-cost-info';
@import 'molecules/logo';

// components
@import 'components/menu';
@import 'components/footer';
@import 'components/objects-list';
@import 'components/main-header';
@import 'components/search';

// pages
@import 'pages/chairs';
@import 'pages/chair';
@import 'pages/shopping-cart';