.button-back {
  @include btn($text-secondary, $color-secondary, rgba($color-secondary, 0.8));
}

.description-button,
.technical-data-button {
  width: 100%;
  background-color: $color-pirmary;
  border: none;
  padding: 10px;
}

.box-row-buttons {
  .active,
  .active:hover {
    background-color: $color-secondary;
    color: $text-secondary;
  }

  button:hover {
    background-color: rgba($color-pirmary, 0.7);
  }
}

.button-buy {
  @include btn($text-secondary, $color-secondary, rgba($color-secondary, 0.8));

  display: flex;
  align-items: center;
  padding: 0 15px;

  img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  p {
    position: relative;
    margin: 10px;

    &::before {
      display: block;
      position: absolute;
      top: -3px;
      left: -10px;
      content: '';
      width: 1px;
      height: 25px;
      background-color: rgba($text-secondary, 0.3);
    }
  }
}

.button-close {
  @include btn-x(rgba($dark-secondary, 0.9));
}

.button-to-cart {
  @include btn($text-primary, transparent, rgba($color-secondary, 0.8));
}

.button-delete {
  @include btn-x($alert);

  border: none;
  background-color: transparent;

  &::before,
  &::after {
    height: 4px;
  }

  &:hover::before {
    animation: motionBefore 0.7s forwards;
  }

  &:hover::after {
    animation: motionAfter 0.7s forwards;
  }

  @keyframes motionBefore {
    0% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-35deg);
    }
    100% {
      transform: rotate(-45deg);
    }
  }

  @keyframes motionAfter {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(35deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
}
