.menu {
  display: flex;
  justify-content: space-around;
  background-color: $color-pirmary;
  color: $text-primary;
  padding: 0 30px;

  a,
  a:visited {
    color: $text-primary;
    text-decoration: none;
    padding: 20px;

    &:hover {
      background-color: $color-secondary;
      color: $text-secondary;
    }
  }
}