.menu {
  background-color: $color-pirmary;
  color: $text-primary;
  padding: 0 30px;

  nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 18px;

    a,
    a:visited {
      display: inline-block;
      color: $text-primary;
      text-decoration: none;
      padding: 20px 40px;

      &:hover {
        background-color: $color-secondary;
        color: $text-secondary;
      }

      &.news-link {
        color: $color-secondary;

        &:hover {
          color: $text-secondary;
        }
      }
    }

    .nuxt-link-active {
      background-color: $color-secondary;
      color: $text-secondary;

      &:visited {
        color: $text-secondary;

        &.news-link {
          color: $text-secondary;
        }
      }
    }
  }
}
