.product-page {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  h3 {
    margin-bottom: 30px;
  }

  table {
    width: 100%;
    padding: 0 19px 12px;
    border-bottom: 3px solid #ececec;
    font-size: 14px;

    th {
      width: 310px;
    }
  }

  .container {
    text-align: center;
    margin-top: 50px;

    .row {
      display: flex;
      justify-content: center;

      .col {
        width: 100%;
        margin: 20px;
      }
    }

    .box-row-buttons {
      display: flex;
      justify-content: space-around;
    }

    .box-row {
      padding: 25px;
      text-align: left;
      font-size: 15px;
      letter-spacing: 0.5px;
      line-height: 22px;
    }
  }

  .button-back {
    position: absolute;
    left: 0;
  }

  .button-buy {
    margin: 40px 0;
  }

  .product-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 400px;
      max-height: 400px;
    }
  }

  .price {
    font-size: 20px;
    color: $dark-primary;
  }

  .shipping-information {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0 15px;

    .info {
      width: 20px;
      height: 20px;
      background-color: $color-secondary;
      border-radius: 25px;
      border: none;
      text-align: initial;

      &:hover {
        background-color: rgba($color-secondary, 0.8);
      }

      &::before {
        display: block;
        color: white;
        font-size: 15px;
        cursor: pointer;
        content: '\003F'
      }
    }
  }

  .product-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
