.shopping-cart-table {
  table {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;

    thead {
      background-color: $color-pirmary;
    }

    th {
      padding: 15px 0;
    }

    td {
      padding: 10px 0;
      border-bottom: 2px solid $color-pirmary;
    }

    tr:last-child {
      td {
        border-bottom: 8px solid $color-pirmary;
      }
    }

    th:first-child,
    td:first-child {
      padding-left: 20px;
      text-align: left;
    }

    .product-name {
      display: flex;
      height: 80px;
      align-items: center;

      .product-img {
        width: 60px;
        margin-right: 10px;

        img {
          display: block;
          max-width: 60px;
          max-height: 70px;
          margin: 0 auto;
        }
      }
    }
  }
}
