.summary-shopping {
  width: 100%;
  margin-left: 20px;

  .summary-shopping-title {
    width: 100%;
    padding: 15px 20px;
    background-color: $color-pirmary;
  }

  .summary-shopping-container {
    text-align: right;
    padding-right: 25px;

    .summary-shopping-row:last-of-type {
      font-family: 'Muli-Black', sans-serif;
      font-size: 17px;
    }
  }
}