.chair {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  img {
    max-width: 400px;
    max-height: 400px;
  }

  .container {
    text-align: center;
    margin-top: 50px;

    .row {
      display: flex;
      justify-content: center;

      .col {
        margin: 20px;
      }
    }
  }

  .button-back {
    position: absolute;
    left: 0;
  }
}
