.chair {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  img {
    max-width: 400px;
    max-height: 400px;
  }

  .container {
    text-align: center;
    margin-top: 50px;

    .row {
      display: flex;
      justify-content: center;

      .col {
        width: 100%;
        margin: 20px;
      }
    }

    .box-row-buttons {
      display: flex;
      justify-content: space-around;
    }

    .box-row {
      margin: 20px 0;
    }
  }

  .button-back {
    position: absolute;
    left: 0;
  }

  .price {
    font-size: 20px;
  }
}
