.shopping-cart {
  min-height: 65vh;
  text-align: center;

  p {
    margin: 30px auto 40px;
  }

  .shopping-cart-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
  }
}
